<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ITS fastify point-of-view</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <h1>Utente con id = <%= ID %></h1>
        <ul>
            <li>Nome: <%= username %> </li>
            <li>Email: <%= email %></li>
            <li>Password: <%= password %></li>
        </ul>
    </div>
</body>
</html>