<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="StringaDiConnessione" value="Data Source=(LocalDb)\MSSQLLocalDB; Initial Catalog=dbGestioneOrdini;INtegrated Security=true;Pooling=False"/>
    </appSettings>
</configuration>