body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu-item{
    float: left;
    border-left: 5px double rgb(0, 195, 255);
    padding-left: 5px;
    margin-right: 20px;
}

ul.menu {
    list-style-type: none;
    padding-left: 0;
}
    ul.menu li {
        float: left;
        border-left: 5px double rgb(0, 195, 255);
        padding-left: 5px;
        margin-right: 20px;
    }
        ul.menu li a,
        .menu-item a{
            text-decoration: none;
            color: rgb(0, 195, 255);
        }
            ul.menu li a:visited,
            .menu-item a:visited{
                /*color: rgb(0, 195, 255);*/
                color: #00BFFF;
            }
            ul.menu li a:hover,
            .menu-item a:hover{
                text-decoration: underline;
            }
            ul.menu li a:active,
            .menu-item a:active{
                color: black;
            }

.login{
    float:left;
    width:30%;
    top: 15%;
}

.register{
    float:left;
    width: 65%;
    margin-left:55px;
}

.container{
    width:100%;
    position:fixed;
    margin-top:20px;
}

.label{
    float:left;
    margin-left:0px;
    width: 25%;
}

.txtbox{
    float:left;
    width: 75%;
}

.labelreg{
    float:left;
    margin-left:0px;
    width: 25%;
}

.txtboxreg{
    float:left;
    width: 75%;
}


.button
{
    margin-bottom: 5px;
    text-align: center;
    margin-left: 5px;
}
